<footer>
    <div class="uInfo">
        <a href="" class="logo">
            <h1>NGAI U</h1>
        </a>
        <div class="info">
            <p>Info 1</p>
            <p>Info 2</p>
            <p>Info 3</p>
        </div>
    </div>
    <div class="listMaster">
        <div class="lists">
            <a href="" class="mainH1" id="footCol">
                <h1>Colleges</h1>
            </a>
            <ul class="footLinks">
                <li><a href="" class="listLinks" id="footCol">College of Artificial Intelligence & Digital
                        Business</a></li>
                <li><a href="" class="listLinks" id="footCol">College of Robotics, Automation & Emerging
                        Technology</a></li>
                <li><a href="" class="listLinks" id="footCol">College of Gaming, Simulation & Interactive
                        Technology</a></li>
                <li><a href="" class="listLinks" id="footCol">College of Sports, Entertainment & Media
                        Technology</a></li>
                <li><a href="" class="listLinks" id="footCol">College of Business, Consulting & Partnership
                        Certification</a>
                </li>
            </ul>
        </div>
        <div class="lists">
            <a href="" class="mainH1" id="footAcad">
                <h1>Academies</h1>
            </a>
            <ul class="footLinks">
                <li><a href="" class="listLinks" id="footAcad">ACIM Academy</a></li>
                <li><a href="" class="listLinks" id="footAcad">AICTAaaS Academy</a></li>
                <li><a href="" class="listLinks" id="footAcad">NGAI Software Academy</a></li>
                <li><a href="" class="listLinks" id="footAcad">Partner Academy</a></li>
            </ul>
        </div>
        <div class="lists">
            <a href="" class="mainH1" id="footJoin">
                <h1>Join Us</h1>
            </a>
            <ul class="footLinks">
                <li><a href="" class="listLinks" id="footJoin">Admissions</a></li>
                <li><a href="" class="listLinks" id="footJoin">Partners</a></li>
                <li><a href="" class="listLinks" id="footJoin">Students Portal</a></li>
                <li><a href="" class="listLinks" id="footJoin">About</a></li>
            </ul>
        </div>
    </div>
</footer>