<div class="colSubList" id="AIDB">
    <a href="" class="indepLink">Overview</a>
    <a href="" class="indepLink">Degree and Certificate Programs</a>
    <a href="" class="indepLink">Faculty and Research</a>
    <a href="" class="indepLink">Career Outcomes/ Alumni</a>
    <a href="" class="indepLink">Admission Requirements</a>
</div>

<div class="colSubList" id="RAET">
    <a href="" class="indepLink">Overview</a>
    <a href="" class="indepLink">Degree and Certificate Programs</a>
    <a href="" class="indepLink">Labs and Facilities</a>
    <a href="" class="indepLink">Faculty and Research</a>
    <a href="" class="indepLink">Career Outcomes/ Alumni</a>
    <a href="" class="indepLink">Admission Requirements</a>
</div>

<div class="colSubList" id="GSIT">
    <a href="" class="indepLink">Overview</a>
    <a href="" class="indepLink">Degree and Certificate Programs</a>
    <a href="" class="indepLink">Student Showcase</a>
    <a href="" class="indepLink">Faculty and Research</a>
    <a href="" class="indepLink">Career Outcomes/ Alumni</a>
    <a href="" class="indepLink">Admission Requirements</a>
</div>

<div class="colSubList" id="SEMT">
    <a href="" class="indepLink">Overview</a>
    <a href="" class="indepLink">Degree and Certificate Programs</a>
    <a href="" class="indepLink">Industry Partnership</a>
    <a href="" class="indepLink">Faculty and Research</a>
    <a href="" class="indepLink">Career Outcomes/ Alumni</a>
    <a href="" class="indepLink">Admission Requirements</a>
</div>

<div class="colSubList" id="BCPC">
    <a href="" class="indepLink">Overview</a>
    <a href="" class="indepLink">Degree and Certificate Programs</a>
    <a href="" class="indepLink">Corporate Partnership</a>
    <a href="" class="indepLink">Faculty and Research</a>
    <a href="" class="indepLink">Career Outcomes/ Alumni</a>
    <a href="" class="indepLink">Admission Requirements</a>
</div>