<div class="joinSubList" id="Admission">
    <a href="" class="indepLink">Overview</a>
    <a href="" class="indepLink">How to Apply</a>
    <a href="" class="indepLink">Tuition and Financial Aid</a>
    <a href="" class="indepLink">Important Dates</a>
    <a href="" class="indepLink">FAQ</a>
</div>

<div class="joinSubList" id="Partners">
    <a href="" class="indepLink">Overview</a>
    <a href="" class="indepLink">Corporate Partners</a>
    <a href="" class="indepLink">Industry Advisory Boards</a>
    <a href="" class="indepLink">Become A Partner</a>
</div>

<div class="joinSubList" id="About">
    <a href="" class="indepLink">Mission and Vision</a>
    <a href="" class="indepLink">Leadership team</a>
    <a href="" class="indepLink">News And Press</a>
    <a href="" class="indepLink">Contact</a>
    <a href="" class="indepLink">NGAI Software</a>
</div>