<div class="acdSubList" id="ACIM">
    <a href="" class="indepLink">Overview</a>
    <a href="" class="indepLink">Belt Pathway Index</a>
    <a href="" class="indepLink">Industry Specializations</a>
    <a href="" class="indepLink">Credential lookup</a>
</div>

<div class="acdSubList" id="AICTAaaS">
    <a href="" class="indepLink">Overview</a>
    <a href="" class="indepLink">Certification Paths</a>
    <a href="" class="indepLink">Team Certification (B2B path)</a>
    <a href="" class="indepLink">Credential lookup</a>
</div>

<div class="acdSubList" id="SA">
    <a href="" class="indepLink">Overview</a>
    <a href="" class="indepLink">Certification Paths</a>
    <a href="" class="indepLink">Sandbox Environment</a>
    <a href="" class="indepLink">Credential lookup</a>
</div>

<div class="acdSubList" id="PA">
    <a href="" class="indepLink">Overview</a>
    <a href="" class="indepLink">Partner Certification Paths</a>
    <a href="" class="indepLink">Become A Partner</a>
    <a href="" class="indepLink">Credential lookup</a>
</div>